@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>矿机在线状态监控登录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
        <!--===============================================================================================-->
        <!--===============================================================================================-->
        <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/js/main.js"></script>
</head>

<body>
    <div style="text-align:center"><img src="~/Content/images/logo.png" style="text-align:center; height:200px" /></div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" method="post" asp-controller="account" asp-action="login">
                    <span class="login100-form-title p-b-51">
                        矿池管理系统登录
                    </span>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="用户名必填">
                        <input class="input100" type="text" name="username" placeholder="用户名">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="密码必填">
                        <input class="input100" type="password" name="password" placeholder="密码">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            登录
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    @*<h3>登录页面</h3>
        @ViewBag.error
        <form method="post" asp-controller="account" asp-action="login">
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td>用户名</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>登录</td>
                    <td><input type="submit" value="提交"></td>
                </tr>
            </table>
        </form>*@

</body>

</html>