@model IEnumerable<HelperViewModel>
@*<div>
        选择场地位置: <select type="text" name="SearchString" asp-items="Model.Options" value="@ViewData["currentFilter"]">
        </select>
    </div>*@

@{
    foreach (var m in Model)
    {
        <div> test </div>
    }
}
