@model CryptoMiningControlCenter.Models.Repository.EFCore.Miner

<h4>新建场地观察者链接</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">客户名</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minertype" class="control-label">机器类型</label>
                <input asp-for="Minertype" class="form-control" />
                <span asp-validation-for="Minertype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">位置</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label">观察者链接</label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label">上机台数</label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label">算力单位</label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pooltype" class="control-label">矿池类型</label>
                <select asp-for="Pooltype" class="form-control">
                    <option value="f2pool">f2pool</option>
                    <option value="poolin">poolin</option>
                    <option value="poolbtc">poolbtc</option>
                    <option value="huobi">huobi</option>
                    <option value="antpool">antpool</option>
                    <option value="viabtc">viabtc</option>
                </select>
                <span asp-validation-for="Pooltype" class="text-danger"></span>
                <h3 class="text-danger">@ViewBag.error</h3>
            </div>
            <div class="form-group">
                <label asp-for="Standardcalculation" class="control-label">理论算力</label>
                <input asp-for="Standardcalculation" class="form-control" />
                <span asp-validation-for="Standardcalculation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="确定" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到首页</a>
</div>
