@model CryptoMiningControlCenter.Models.Repository.EFCore.Miner

<h4>编辑场地观察者</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label">客户名</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minertype" class="control-label">机器类型</label>
                <input asp-for="Minertype" class="form-control" />
                <span asp-validation-for="Minertype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">位置</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label">观察者链接</label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label">上机台数</label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label">算力单位</label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pooltype" class="control-label">矿池类型</label>
                <select asp-for="Pooltype" class="form-control">
                    <option value="f2pool">f2pool</option>
                    <option value="poolin">poolin</option>
                    <option value="poolbtc">poolbtc</option>
                    <option value="huobi">huobi</option>
                    <option value="antpool">antpool</option>
                    <option value="viabtc">viabtc</option>
                </select>
                <span asp-validation-for="Pooltype" class="text-danger"></span>
                <h3 class="text-danger">@ViewBag.error</h3>
            </div>
            <div class="form-group">
                <label asp-for="Standardcalculation" class="control-label">理论算力</label>
                <input asp-for="Standardcalculation" class="form-control" />
                <span asp-validation-for="Standardcalculation" class="text-danger"></span>
            </div>
            <div style="display:none">
                <div class="form-group">
                    <label asp-for="Active" class="control-label">活跃</label>
                    <input asp-for="Active" class="form-control" />
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inactive" class="control-label">不活跃</label>
                    <input asp-for="Inactive" class="form-control" />
                    <span asp-validation-for="Inactive" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dead" class="control-label">无效</label>
                    <input asp-for="Dead" class="form-control" />
                    <span asp-validation-for="Dead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Currentcalculation" class="control-label">15分钟算力</label>
                    <input asp-for="Currentcalculation" class="form-control" />
                    <span asp-validation-for="Currentcalculation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dailycalculation" class="control-label">24小时算力</label>
                    <input asp-for="Dailycalculation" class="form-control" />
                    <span asp-validation-for="Dailycalculation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Updatedate" class="control-label">更新时间</label>
                    <input asp-for="Updatedate" class="form-control" />
                    <span asp-validation-for="Updatedate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到首页</a>
</div>
